.header__link {
    margin: 6px 0 0;
    padding: 0;
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #A9A9A9;
    height: 22px;
}


.header__link:hover {
    opacity: 0.6;
    transition: linear 0.2s;
    cursor: pointer;
}