.popup__form {
    display: flex;
    flex-direction: column;
    width: 358px;
    margin: 0 auto 37px;
}

@media screen and (max-width: 767px) {
    .popup__form {
        width: 238px;
        margin: 0 auto 25px;
    }
}