.profile__add-button {
    align-self: center;
    margin: 0 0 0 auto;
    width: 150px;
    height: 50px;
    border: white 2px solid;
    background-color: black;
    background-image: url(../../../images/plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        width: 282px;
        margin: 0 auto;
        background-image: url(../../../images/plus-mini.svg);
    }
}
