.elements__card-delete-button {
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url(../../../images/trash.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 18px;
    height: 19px;
    background-color: rgba(0, 0, 0, 0);
}